<form action="/comments" method="POST">
    <section>
        <label for="">Enter Username</label>
        <input type="text" name="username">
    </section>
    <br>
    <section>
        <label for="">Enter comment</label><br>
        <textarea  cols="30" rows="10" name="comment"></textarea>  
    </section>
  
    <br>
    <button type="submit">Submit</button>
</form>
<a href="/comments">Back to Comments Page</a>